body{padding:50px;font:14px "Lucida Grande",Helvetica,Arial,sans-serif;}
a{color:#00B7FF;}
#content{width:800px;margin:auto;}
#room{background-color:#ddd;margin-bottom:1em;}
#messages{width:690px;height:300px;overflow:auto;background: #eee;margin:0px 10px 1em 0px;}
